<!DOCTYPE html>
<html>
  <head>
    <title>MagicBall2</title>
    <img class="banner"
    src="https://res.cloudinary.com/dujumejgm/image/upload/v1605528844/magic%208%20ball/Untitled_design_4_x4dexd.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
